@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Oswald:wght@200..700&family=Outfit:wght@100..900&family=Raleway:ital,wght@0,100..900;1,100..900&family=Six+Caps&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #050F0A;
  --foreground: #E8F5E9;
}

@layer base {
  body {
    @apply bg-appBg text-textPrimary antialiased;
    font-family: 'Raleway', sans-serif;
  }
}